.user-search-modal {
  background-color: #ffffff21;
}

.user-search-modal-header {
  background-color: #5c4f82;
}

.user-search-modal-body {
  background-color: #5c4f82;
}

.user-search-modal-footer {
  background-color: #5c4f82;
}
