.signup-page-flexbox {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
}

.signup-form {
  margin: auto;
  margin-top: 30px;
  width: 500px;
}

.form-subtitle {
  font-size: 20px;
}

.form-title {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
}

.main-content {
  background-color: #4d426d;
  width: 60%;
  height: 100%;
}

.signup-displayname-field {
  height: 50px;
  border-radius: 15px;
}

.signup-email-field {
  margin-top: 20px;
  height: 50px;
  border-radius: 15px;
}

.signup-password-field {
  margin-top: 20px;
  border-radius: 15px;
  height: 50px;
}

.login-link {
  display: block;
  margin-top: 20px;
  text-decoration: underline;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.signup-button {
  margin-top: 20px;
  width: 190px;
  height: 47px;
  font-size: 19px;
  border-width: 0px;
  background: linear-gradient(-45deg, #6c618d, #c76262, #555ee0, #a143b4);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border-radius: 50px;
  margin-left: 156px;
}

.error-message-signup {
  color: red;
  font-size: 20px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.link-signup {
  color: white;
  font-size: 20px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.signup-formgroup {
  display: flex;
  flex-direction: column;
}

.text-muted-signup {
  margin: auto;
  color: antiquewhite;
}
